<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__logo">
                <img src="images/logo/logo-black.png" alt="">
            </div>
            <div class="footer__col">
                <nav class="footer__nav">
                    <a href="#" class="footer__nav-link">Главная</a>
                    <a href="#" class="footer__nav-link">Продукция</a>
                    <a href="#" class="footer__nav-link">Акции</a>
                    <a href="#" class="footer__nav-link">Доставка</a>
                </nav>
            </div>
            <div class="footer__col">
                <div class="footer__col-text">Время работы</div>
                <div class="footer__col-text--light">Пн-Пт: 8:00-20:00</div>
                <div class="footer__col-text--light">Сб-Вс: 9:00-20:00</div>
            </div>
            <div class="footer__col">
                <div class="footer__col-text">Контакты</div>
                <div class="footer__col-text--light">+375 (29) 868 20 31</div>
                <div class="footer__col-text--light">E-mail: pechorin@mail.ru</div>
            </div>
        </div>
        <div class="footer__copy">
            <span>&copy 2020 Все права защищены.</span>
            <a href="#">Политика персональной безопасности</a>
        </div>
    </div>
</footer>