<header class="header">
    <div class="container">
        <div class="header__inner">
            <a class="header__logo">
                <img class="header__logo-image" src="images/logo/logo.png" alt="">
            </a>
            <nav class="nav">
                <div class="nav__inner">
                    <a href="index.html" class="nav__link">Главная</a>
                    <a href="#" class="nav__link">Акции</a>
                    <a href="#" class="nav__link">О Нас</a>
                    <a href="#" class="nav__link">Продукция</a>
                    <a href="#" class="nav__link">Контакты</a>
                </div>
            </nav>
            <div class="header__cart">
                <a href="cart.html">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </div>
            <div class="toggle-nav">
                <span class="toggle-nav__item"></span>
                <span class="toggle-nav__item"></span>
                <span class="toggle-nav__item"></span>
            </div>
        </div>
    </div>
</header>