// main: ../main.less
.header{    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    margin-top: 52px;

    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: @white;

        position: relative;
    }

    &__logo{
        display: block;
    }

    &__cart{
        // width: 33px;
        // height: 32px;
        // background-color: @white;
        // mask-image: url('../images/icons/cart.svg');
        // -webkit-mask-image: url('../images/icons/cart.svg');
        cursor: pointer;
        font-size: 20px;
        transition: color .2s linear;

        &:hover{
            color: @orange;
        }
    }
    // MEDIA
    @media @tablet{
        &__cart{
            display: none;
        }
    }
}